name: Robot Framework Tests # Nombre visible en Actions

on:
  repository_dispatch:
    types: [ run-tests ]      # Las pruebas son ejecutadas posterior al despliegue
  
  workflow_dispatch:
    inputs:
      base_url:
        description: "URL del entorno a probar"       # Se puede ejecutar las pruebas a demanda
        required: true
        default: "https://website-app-psi.vercel.app"

permissions:
  contents: write

jobs:
  robot-tests:  # ID del job
    runs-on: ubuntu-latest  # GitHub crea una VM

    steps:
    - name: Checkout repository   # Paso 1: Descarga el código en la VM
      uses: actions/checkout@v4

    - name: Set up Python     # Paso 2: Instala Python 3.11
      uses: actions/setup-python@v5
      with:
        python-version: "3.11"

    - name: Install Chrome      # Paso 3: Instala Chrome
      uses: browser-actions/setup-chrome@v1

    - name: Install dependencies      # Paso 4: Instala dependencias definidas en requirements.txt
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Run Robot Framework tests     # Paso 5: Ejecución de tests
      run: |
        python scripts/execute-tests.py --base-url=${{ github.event.client_payload.base_url || github.event.inputs.base_url }} 

    - name: Upload Robot Framework results    # Paso 6: Aunque los tests fallen se sube los reportes
      if: always()      # Paso 6.1: Los archivos (artefactos) que se encuentren en la carpeta results se suben
      uses: actions/upload-artifact@v4
      with:
        name: robot-results
        path: results/

    - name: Publish Robot Framework report to GitHub Pages    # Paso 7: Se publica el reporte en GitHub Pages
      if: always()
      run: |
        git config --global user.name "github-actions"
        git config --global user.email "github-actions@github.com"
        git add docs
        git commit -m "Actualizacion: Reporte de Robot Framework" || echo "Sin ningun cambio"
        git push